--Copyright Â© 2016 William West <william.a.west@gmail.com>
--
--This is free software: you can redistribute it and/or modify
--it under the terms of the GNU General Public License as published by
--the Free Software Foundation, either version 3 of the License, or
--(at your option) any later version.
--
--This is distributed in the hope that it will be useful,
--but WITHOUT ANY WARRANTY; without even the implied warranty of
--MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
--GNU General Public License for more details.
--
--You should have received a copy of the GNU General Public License
--along with this.  If not, see <http://www.gnu.org/licenses/>.

local module = {
    hostname     = 'herp-derp',
    essid        = '<wifi AP ssid>',
    password     = '<wifi AP password>',
    sensorOne    = 1, -- GPIO #4
    sensorTwo    = 2, -- GPIO #5
    interval     = 15000, -- in milliseconds; should be > 10000
    ntp          = 'time.nist.gov',

    -- only http fully supported for an endpoint; https may not work due to cipher constraints in client TLS'
    -- see example wsgi script in scripts/circonus-metrics-proxy.py
    metricsUrl   = 'https://<my host>/<my metrics proxy>'
}

return module

